<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression UI Suite" verbose="1">
    <!--    <suite name="Regression UI Suite" verbose="1" parallel="methods" thread-count = "7">-->
    <listeners>
        <listener class-name="utilities.TestListener"></listener>
    </listeners>
    <test name="Regression1">
        <groups>
            <run>
                <exclude name="selectSizeForAProduct"></exclude>
            </run>
        </groups>
        <classes>
            <class name="testClasses.HomePageTest"></class>
        </classes>
    </test>
</suite>