<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression UI Suite" verbose="1" parallel="methods" thread-count="1">
<!--    <suite name="Class1Suite" parallel="methods" group-by-instances="true" object-factory="testUtilities.ObjectFactory">-->
    <!--    <suite name="Regression UI Suite" verbose="1" parallel="methods" thread-count = "7">-->
    <listeners>
        <listener class-name="testUtilities.TestListener"/>
<!--       <listener class-name="testUtilities.AnnotationTransformer"/>-->
    </listeners>

    <parameter name="url" value="http://shop.demoqa.com/"/>
    <parameter name="expectedTextInSearchField" value="Search"/>
    <parameter name="itemForSearch" value="dress"/>

    <test name="Data Driven Test in Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="http://shop.demoqa.com/my-account/"/>
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="regression"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
<!--            <class name="testClasses.SearchTest"/>-->
<!--            <class name="testClasses.HomePageTest"/>-->
<!--            <class name="testClasses.QuickSmokeTest"/>-->
            <class name="testClasses.MyAccountTest"/>
       </classes>
    </test>

<!--    <test name="Quick Smoke Test in Firefox">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--&lt;!&ndash;            <class name="testClasses.SearchTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="testClasses.HomePageTest"/>&ndash;&gt;-->
<!--            <class name="testClasses.MyAccountTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>